name: Build packages

on:
  push:
    branches:
      - "stable"
      - "unstable"
      - "testing"
    paths-ignore:
      - "README.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies.
        with:
          bundler-cache: true
          cache-version: 1
        run: |
          sudo gem install package_cloud

      - name: Build
        run: |
          chmod +x gh-build.sh
          sudo ./gh-build.sh

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event.commits[0].message }}
          files: |
            *.deb

      - name: Push package.
        env:
          PACKAGECLOUD_TOKEN: ${{ secrets.PACKAGECLOUD_TOKEN }}
        run: |
          package_cloud push kaytime/${{GITHUB_REF_NAME}}/debian/trixie $(pwd)/*.deb
